body{
    margin: 0px;
}
#placeholderFirst{
    margin-left: 15px;
    margin-top: 15px;
    height: 25px;
    width: 180px;
    text-align: center;
}
#placeholderLast{
    margin-left: 15px;
    margin-top: 15px;
    height: 25px;
    width: 180px;
    text-align: center;
}
#reviewBox{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    height: 300px;
    width: 1225px;
}
#submit{
    margin-left: 15px;
    margin-top: 15px;
}

#DropDown{
    margin-left: 15px;
    margin-top: 15px;
    height: 25px;
    width: 180px;
    text-align: center;
}
#searchBar{
    margin-left: 1020px;
    margin-top: 10px;
    text-transform: capitalize;
}

.Title{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    font-size: 70px;
    line-height: 100px;
    text-align: center;
    float: left;
}
.searchBox{
    background-color: seagreen;
    height: 100px;
    width: 100%;
    float: left;
}
.ImageBox{
    height: 600px;
    width: 100%;
    margin-top: 5px;
    float: left;
}
.GameReview{
    background-color: black;
    color: white;
    height: 400px;
    width: 100%;
    float: left;
}
.Name{
    width: 100%;
    height: 50px;
    float: left;
}
.Year{
    width: 100%;
    height: 50px;
    float: left;
}
.Console{
    width: 100%;
    height: 50px;
    float: left;
}
.Genres{
    width: 100%;
    height: 50px;
    float: left;
}
.Modes{
    width: 100%;
    height: 50px;
    float: left;
}
.Rating{
    width: 100%;
    height: 50px;
    float: left;
}
.InformationReview{
    width: 100%;
    height: 100px;
    float: left;
}
.reviewContainer{
    background-color: burlywood;
    color: white;
    height: 450px;
    width: 100%;
    margin-top: 5px;
    float: left;
}
.CommentBox{
    background-color: blue;
    color: white;
    height: 450px;
    width: 100%;
    margin-top: 5px;
    float: left;
}