body{
    margin: 0px;
}
#placeholder{
    margin-left: 15px;
    margin-top: 15px;
    height: 25px;
    width: 180px;
}

.Title{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    font-size: 70px;
    line-height: 100px;
    text-align: center;
}
.ImageBox{
    background-color: red;
    height: 300px;
    width: 100%;
    margin-top: 5px;
}
.GameReview{
    background-color: yellow;
    color: white;
    margin-top: 5px;
    height: 1000px;
    width: 100%;
}
.CommentBox{
    background-color: blue;
    color: white;
    height: 300px;
    width: 100%;
    margin-top: 5px;
}